<h1>Game</h1>
<a href="#/home">Go home</a>
<br />

<style type="text/css">
    table {
        border-collapse: separate;
        border: solid thin black;   
    }

    table td {
        border: solid thin black;
        height: 150px;
        width: 150px;
        text-align: center;
        font-size: 30px;
    }

    table td:hover {
        background-color: #eee;
    }

</style>

<button ng-click="startGame()" ng-disabled="!profile.loggedIn">New Game</button>

<h4>Current Player: {{game.currentPlayer}}</h4>
<table>
    <tbody>
        <tr ng-repeat="row in game.board track by $index">
            <td ng-repeat="column in row track by $index" ng-click="selectCell(row,$index)">{{column}}</td>
        </tr>
    </tbody>
</table>